@model eLibrary.Model.Column
@{
    ViewBag.Title = "Delete";
}

<h4>DELETE A COLUMN</h4>

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm())
{

    <fieldset>
        <legend>Column Delete</legend>

        @Html.HiddenFor(model => model.ColumnID)
       @* <div class="display-label">
            @Html.DisplayNameFor(model => model.ColumnName)
        </div>*@
        <div class="display-field">
          Column  @Html.DisplayFor(model => model.ColumnName)  in Row @Model.Row.RowName Belonging to Shelf @Model.Row.Self.ShelfName
        </div>

       @* <div class="display-label">
            @Html.DisplayNameFor(model => model.RowID)
        </div>*@
        <div class="display-field">
            @Html.HiddenFor(model => model.RowID)
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
