<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@*@ViewBag.Title*@ The Library Solution</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: #4f8394">
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    @Html.ActionLink("Library Management System", "Index", "Home")
            </p>
        </div>
        <div class="float-right">
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
            <nav style="background-color:aqua">
                <div id="tabs">
                    <ul>
                        <li><a href="#tab2">Home</a></li>
                        @if (!(Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Student")))
                        {

                            @*  <li><a href="#tab1">Uploads</a></li>


                                <li><a href="#tab5">Study</a></li>


                                <li><a href="#tab7">Subjects</a></li>*@

                            <li><a href="#tab6">Library Mangt.</a></li>




                        }
                        @if ((Request.IsAuthenticated && HttpContext.Current.User.IsInRole("SuperAdmin")))
                        {

                            <li><a href="#tab10">Subject Areas</a></li>
                            <li><a href="#tab3">Admin</a></li>


                        }
                        @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Student"))
                        {
                            @* <li><a href="#tab4">Student Study</a></li>*@
                            <li><a href="#tab4">Library</a></li>
                        }
                    </ul>

                    <div id="tab2">
                        @Html.ActionLink("Home", "Index", "Home") @*@Html.ActionLink("About", "About", "Home")*@|
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </div>

                    @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Student"))
                    {


                        <div id="tab4">
                            @*@Html.ActionLink("Study Material", "Index", "ReadContent")| @Html.ActionLink("Exam Study", "Index", "Exam")*@
                            @Html.ActionLink("Library Item(s)", "Index", "Book") |  @Html.ActionLink("Borrowed Items", "Index2", "BorrowedItem")
                        </div>

                    }
                    else
                    {
                        @*<div id="tab1">@Html.ActionLink("Chapters", "Create", "UploadLessonNote")| @Html.ActionLink("Texbooks", "Create", "UploadTextBook")|
                                  @Html.ActionLink("Additional Chapters", "Create", "UploadAdditionalChapterMaterial")|
                                  @Html.ActionLink("Delete", "Index", "Chapter")
                              </div>


                            <div id="tab5">
                                  @Html.ActionLink("Exams", "LoadExamCodes", "Exam")|
                                  @Html.ActionLink("Study Material(Student View)", "Index", "ReadContent")
                              </div>*@

                        if ((Request.IsAuthenticated && HttpContext.Current.User.IsInRole("SuperAdmin")))
                        {

                            <div id="tab10">
                                @Html.ActionLink("View", "Index", "SubjectArea")|
                                @*   @Html.ActionLink("Study Material(Student View)", "Index", "ReadContent")*@
                            </div>
                        }

                        <div id="tab6">
                            @Html.ActionLink("Shelf", "Index", "Shelf")|

                            @if (!(Request.IsAuthenticated && HttpContext.Current.User.IsInRole("SuperAdmin")))
                            {
                                @Html.ActionLink("Borrowed Items", "Index2", "BorrowedItem")<text>|</text>
                            }
                            @if ((Request.IsAuthenticated && HttpContext.Current.User.IsInRole("SuperAdmin")))
                            {
                                @Html.ActionLink("Borrowed Items", "Index", "BorrowedItem")<text>|</text>

                                @Html.ActionLink("Finance", "Index", "Finance")<text>|</text>
                            }
                            @Html.ActionLink("Find Item(s)", "Index", "Book")|
                            @if ((Request.IsAuthenticated && HttpContext.Current.User.IsInRole("SuperAdmin")))
                            {
                                @Html.ActionLink("Add Item(s)", "Create2", "Book")
                            }
                        </div>@*

                            <div id="tab7">@Html.ActionLink("Subjects", "Index", "Course")
                            </div>*@

                    }
                    @if ((Request.IsAuthenticated && HttpContext.Current.User.IsInRole("SuperAdmin")))
                    {
                        <div id="tab3">
                            @Html.ActionLink("Administration", "Index", "UserAdministration")|
                            @Html.ActionLink("Create User", "CreateUser", "UserAdministration")
                        </div>
                    }
                    @* <div id="tab4">@Html.ActionLink("Study Material", "Index", "ReadContent")| @Html.ActionLink("Exam Study", "Index", "Exam")
                            |   @Html.ActionLink("Library Item(s)", "Index", "Book")
                        </div>*@
                </div>
                @*   <ul id="menu">
                        <li>@Html.ActionLink("Upload Notes", "Create", "UploadLessonNote")</li>

                        <li></li>
                        <li</li>
                    </ul>*@
            </nav>

        </div>
    </div>
</header>
<div id="body" style="background-color: #8fb6e1">
    @RenderSection("featured", required: false)
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
</div>
<footer>
    <div class="content-wrapper">
        <div class="float-left">
            @*<p>&copy; @DateTime.Now.Year - MyStreams.com</p>*@
        </div>
        <div class="float-right">
            @*<ul id="social">
                    <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                    <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                </ul>*@
        </div>
    </div>
</footer>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Content/themes/base/css")
@RenderSection("scripts", required: false)
<style type="text/css">
    li.ui-state-default {
        font-size: 10px;
    }

    div.ui-tabs-panel {
        font-size: 15px;
        font-family: georgia;
        font-style: italic;
    }
</style>
<script>
    $(":submit").button();
    //$("#tabs").tabs().width("550px");
    $("#tabs").tabs().width("430px");

</script>


</body>
</html>
